<%= form_for(@fotky) do |f| %>
  <% if @fotky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fotky.errors.count, "error") %> prohibited this fotky from being saved:</h2>

      <ul>
      <% @fotky.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
